<h1> <%= @show.band %> </h1>
<h2> <%= @show.venue %> </h2>
<p> <%= @show.genre %> </p>
<p> <%= @show.time %> </p>
<p> <%= @show.date %> </p>
<p> <%= @show.price %> </p>


<%= link_to "Back", shows_path %>
